.thumbnail>img, .thumbnail a>img {
	height: 200px;
}

.caption h4, .h4 {
    height: 85px;
    overflow: hidden;
}

.bottom0.panel-group  {
margin-bottom: 0;
}

.notifications-scroll-area {
    height: 150px;
	position: relative;
	overflow: auto;
}